<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dz147.dao.TaskListMapper">
  <resultMap id="BaseResultMap" type="com.dz147.entity.TaskList">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="createdAt" jdbcType="TIMESTAMP" property="createdAt" />
    <result column="finishedAt" jdbcType="TIMESTAMP" property="finishedAt" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from task_list
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dz147.entity.TaskList">
    <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into task_list (id, name, detail, 
      createdAt, finishedAt, status, 
      memo)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR},
    localtime(), #{finishedAt,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR},
      #{memo,jdbcType=VARCHAR})
  </insert>


  <update id="updateByPrimaryKey" parameterType="com.dz147.entity.TaskList">
    update task_list
    set name = #{name,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      createdAt = #{createdAt,jdbcType=TIMESTAMP},
      finishedAt = #{finishedAt,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, detail, createdAt, finishedAt, status, memo
    from task_list
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, detail, createdAt, finishedAt, status, memo
    from task_list
  </select>
</mapper>